# Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django migrations
**/migrations/*

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# IDEs and Editors
.idea/
.vscode/
*.swp
*~

# Database files
*.sqlite3

# Static files
staticfiles/

# Media files
media/

# Local settings
local_settings.py

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.tox/

# Test and build directories
.pytest_cache/
coverage/
dist/
build/

# Jupyter Notebook files
.ipynb_checkpoints/

# Docker
*.env
Dockerfile
docker-compose.yml

# FRONTEND (REACT) files
# Dependency directories
frontend/node_modules

# Build output directories
frontend/build
frontend/dist

# dotenv environment variable files
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Operating system files
frontend/.DS_Store
frontend/Thumbs.db

# Editor/IDE directories and files
.idea/
frontend/.idea
frontend/.vscode/
frontend/*.sublime-workspace

# Coverage directory (if using testing tools like Jest)
frontend/coverage/

# Optional npm cache directory
frontend/.npm

# Optional eslint cache
frontend/.eslintcache

# Optional stylelint cache
frontend/.stylelintcache

# Optional flow type
frontend/.flowconfig
