.parent-home {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-home {
  margin-bottom: 50px;
  margin-top: 90px;
  font-size: 32px;
  font-weight: bold;
}

.buttons-home {
  display: flex;
  justify-content: center;
  width: 70%;
  gap: 20px;
}

.blue-button,
.home-button {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-button {
  background-color: darkblue;
  color: white;
}

.blue-button:hover {
  background-color: blue;
}

.home-button {
  background-color: #c10c99;
}

.home-button:hover {
  background-color: #85086a;
}
