.select {
  display: inline-block;
  margin-right: 20px;
}

.select input[type="radio"] {
  display: none;
}

.select label {
  cursor: pointer;
  padding: 5px 40px;
  margin-left: 30px;
  border: 1px solid white;
  border-radius: 5px;
}

.select input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: 1px solid #999;
  border-radius: 50%;
}

.select input[type="radio"]:checked + label::before {
  background-color: #c10c99;
}
.select :hover {
  background: black;
}
#birthday_wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

#birthday_wrapper > div {
  margin-bottom: 20px;
}

.select1 {
  margin-left: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.select1 select {
  padding: 8px 30px 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: inline-block;
  margin-right: 20px;
}

.select1 select:focus {
  outline: none;
  border-color: #c10c99;
}
