.user form {
  width: 40%; /* يحدد عرض النموذج بنسبة مئوية */
  max-width: 100%; /* يضمن عدم تجاوز عرض الشاشة */
  margin: auto; /* يوسط النموذج عمودياً وأفقياً */
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: rgb(40, 40, 40);
  color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 15px white;
  letter-spacing: 2px;
}
